// Fonts
$body-font: "Josefin Sans", sans-serif;
$secondary-font: "Arsenal", sans-serif;
$optional-font: "El Messiri", sans-serif;

$fz-10: 10px;
$fz-11: 11px;
$fz-12: 12px;
$fz-13: 13px;
$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-26: 26px;
$fz-28: 28px;
$fz-30: 30px;
$fz-32: 32px;
$fz-36: 36px;
$fz-40: 40px;
$fz-50: 50px;
$fz-60: 60px;
$fz-70: 70px;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$primary-color: #34abf2;
$secondary-color: #00001b;
$para-color: #56598B;
$para2-color: #313246;
$bg-color: #F9FAF4;
$bg-color-two: #E8E8E8;
$yellow-color: #d0ac37;

// Device Width
$break-1399: 1399.98px;
$break-1299: 1299.98px;
$break-1200: 1200px;
$break-1199: 1199.98px;
$break-992: 992px;
$break-991: 991.98px;
$break-768: 768px;
$break-767: 767.98px;
$break-576: 576px;
$break-575: 575.98px;

// Transition
$transition-ease3: all ease .3s;
$transition-ease5: all ease .5s;
$transition-ease9: all ease .9s;
$transition-linear2: all linear 0.2s;

// Others
$line-width: 5px;